.ticket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: $shadow-params;
  max-width: 700px;
  &__left,
  &__right {
    padding: 10px 20px;
  }
  &__left {
    width: 30%;
    padding-right: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    .img {
      position: relative;
      width: 100%;
      height: 100px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    button {
      width: 100%;
    }
  }
  &__right {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .ticket__wrapper,
    .ticket__transfer {
      margin-right: 20px;
      .ticket__wrapper:last-of-type {
        margin-right: 0;
      }
    }
    .ticket__wrapper {
      &-time {
        font-size: 2em;
        font-weight: 400;
      }
      &-geo {
        font-weight: 400;
      }
      &-date {
        opacity: 0.5;
      }
    }
  }
  &__transfer {
    width: 200px;
    text-align: center;
    position: relative;
    &-line {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      div {
        width: 107%;
        height: 1px;
        background: #898989;
      }
      img {
        width: 20px;
        height: 20px;
        transform: rotate(90deg);
      }
    }
  }
}
