.btn {
  cursor: pointer;
  background: $primary-color;
  color: #fff;
  border-radius: 10px;
  font-size: 1em;
  padding: 10px 20px;
  transition: background $animation-duration ease-in-out;
  &:hover {
    background: lighten($primary-color, 10%);
  }
  &:active {
    background: darken($primary-color, 10%);
  }
}
